/***************
Visual Composer
***************/
.ivan-custom-wrapper {
	.wpb_column {
		.ivan-icon-box-wrapper {
			margin-top: 0!important;
			.ivan-icon-box {
				border-width: 0!Important;
				.main-icon {
					color: #236fb6;
				}
			}
		}
		// .ivan-button{
		// 	.round-square {
		// 	    border-radius: 5px;
		// 	}
		// }
	}
}
.ivan-icon-box {
	.icon-box-text-holder {
		position: static!important;
	}
	.icon-box-link-holder {
	    position: absolute;
	    height: 100%;
	    width: 100%;
	    top: 0;
        left: 0;
	    z-index: 11;
	    
	    a {
	    height: 100%;
	    width: 100%;
	    color: transparent!important;
		}
	}
}

.ivan-title-wrapper{
	.title-wrapper {
    position: relative;
    .title-heading {
    margin: 0;
    color: #292d33;
}
 .sub {
    margin: 10px 0 0;
    color: #6d8394!important;
    line-height: 1.3;
}
}
}
.ivan-promo-box {
    padding: 130px 80px;
    background-color: #2ca9e0;
    padding: 130px 80px;
    color: #fff;
    position: relative;
    .overlay {
	    position: absolute;
	    top: 0;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    opacity: 0;
	    transition: all 0.3s ease-out;
	    &.dark-overlay {
		    background-color: #000;
		}
	}
	&:hover{
		.overlay {
    		opacity: .4;
		}
	}
	h3 {
    color: #FFF;
    font-size: 26px;
    font-weight: 400;
    position: relative;
	}
}


.ivan-button-wrapper{
	.ivan-button.outline {
    border-width: 2px;
    background-color: transparent;
    color: #236fb6;
}

}
.ivan-icon-box.clean-color .icon-box-holder .main-icon, .ivan-icon-box.light-bg .icon-box-holder .main-icon {
    color: #fff!important;
}

.ivan-button.round-square.with-text.btn-desc.outline:hover {
    border-color: transparent!important;
    color: transparent!important;
}
.ivan-button.round.large.with-text.light-bg.outline:hover {
    color: #006AA7!important;
}
.ivan-promo-box .ivan-button.light-bg.outline:hover {
    color: #292d33;
    background-color: #FFF;
}

@media (max-width: 1199px) and (min-width: 992px){
	.ivan-promo-box {
	    padding: 100px 35px;
	}
}
@media (max-width: 991px){
	.ivan-promo-box {
	    padding: 75px 35px;
	}
}

/***************
Content Timeline
***************/
.timeline .item .post_date {
	font-size: 16px!important;
}

/***************
Notification Bar
***************/
body.has-mtsnb {
    padding-top: 0!important;
}

.mtsnb {
    top: initial!important;
    bottom: 0!important;
}

.mtsnb-hidden.mtsnb-top {
    transform: translateY(100%) translate3d(0,0,0);
}

/***************
ivan-carousel (owl)
***************/
.ivan-carousel.vc_1453810117981{
	overflow: visible!important;
	.owl-controls {
		.owl-buttons {
			.owl-prev {
			    left: -25px!important;
			}
			.owl-next {
				    right: -25px!important;
			}
		}
	}
}

/***************
Update to new VC
***************/

.vc_custom_1463042317321, .vc_custom_1463042343950{
	h2 {
	    font-weight: 200 !important;
	    font-size: 45px !important;
	    color: #ffffff !important;
	}
	h1 {
	    font-weight: 400 !important;
	    font-size: 55px !important;
	    color: #ffffff !important;
	}
	p {
	    font-weight: 300 !important;
	    font-size: 19px !important;
	    line-height: 15px !important;
	    color: #ffffff !important;
	}
}
.vc_custom_1451408556437, .vc_custom_1454419265859, .vc_custom_1454866549555, .vc_custom_1454867098116, .vc_custom_1454493807916, .vc_custom_1455107602246
{
	h4 {
	 	letter-spacing: 1px;
	    font-weight: 600 !important;
	    color: #ffffff !important;
	    text-transform: uppercase !important;
	}
	p {
		color: #c8e1f0 !important;
	}
}
.vc_custom_1449683896173, .vc_custom_1451408285148{
	a {
	    color: #c8e1f0 !important;
	}
	 p {
	    color: #c8e1f0 !important;
	}
}
.wpb_column > .wpb_wrapper > *:last-child {
    margin-bottom: 0;
}
.vc_column_container {
    padding-left: 15px!important;
    padding-right: 15px!important;
}
.vc_custom_1448317594608{
	.vc_column_container {
	    padding-left: 0!important;
	    padding-right: 0!important;
	}

	.wpb_column>.wpb_wrapper>*:last-child {
	    margin-bottom: -25px;
	}
}