/***************
Visual Composer
***************/

/***************
Notification Bar
***************/
body.has-mtsnb {
    padding-top: 0!important;
}

.mtsnb {
    top: initial!important;
    bottom: 0!important;
}

.mtsnb-hidden.mtsnb-top {
    transform: translateY(100%) translate3d(0,0,0);
}

/***************
ivan-carousel (owl)
***************/
.ivan-carousel.vc_1453810117981{
	overflow: visible!important;
	.owl-controls {
		.owl-buttons {
			.owl-prev {
			    left: -25px!important;
			}
			.owl-next {
				    right: -25px!important;
			}
		}
	}
}

/***************
Update to new VC
***************/

// .vc_custom_1463042317321, .vc_custom_1463042343950{
// 	h2 {
// 	    font-weight: 200 !important;
// 	    font-size: 45px !important;
// 	    color: #ffffff !important;
// 	}
// 	h1 {
// 	    font-weight: 400 !important;
// 	    font-size: 55px !important;
// 	    color: #ffffff !important;
// 	}
// 	p {
// 	    font-weight: 300 !important;
// 	    font-size: 19px !important;
// 	    line-height: 15px !important;
// 	    color: #ffffff !important;
// 	}
// }
// .vc_custom_1451408556437, .vc_custom_1454419265859, .vc_custom_1454866549555, .vc_custom_1454867098116, .vc_custom_1454493807916, .vc_custom_1455107602246
// {
// 	h4 {
// 	 	letter-spacing: 1px;
// 	    font-weight: 600 !important;
// 	    color: #ffffff !important;
// 	    text-transform: uppercase !important;
// 	}
// 	p {
// 		color: #c8e1f0 !important;
// 	}
// }
// .vc_custom_1449683896173, .vc_custom_1451408285148{
// 	a {
// 	    color: #c8e1f0 !important;
// 	}
// 	 p {
// 	    color: #c8e1f0 !important;
// 	}
// }
// .wpb_column > .wpb_wrapper > *:last-child {
//     margin-bottom: 0;
// }
// .vc_column_container {
//     padding-left: 15px!important;
//     padding-right: 15px!important;
// }
// .vc_custom_1448317594608{
// 	.vc_column_container {
// 	    padding-left: 0!important;
// 	    padding-right: 0!important;
// 	}

// 	.wpb_column>.wpb_wrapper>*:last-child {
// 	    margin-bottom: -25px;
// 	}
// }