/********
  About
*********/

.page-about{
	.img-intro{
		max-width: 1170px;
	    margin: 50px auto;
        h4{
        	font-size: 14px;
		    text-align: center;
		    font-family: "Raleway",Helvetica,Arial,sans-serif;
		    font-weight: 400;
		    line-height: inherit;
        }
	}
	.invest-info{
		.sub-title{
			border-color: $color_luceo_orange !important;
		}
		.one-solution{
			width: 48%;
			float: right;
		}
	}
}


//Comitte Page

.page-committee {
	.ranges-item {
	    padding: 15px!important;
	    border: 1px solid #FFCD1D!important;
	}
	.fund-range {
	    margin-top: 0;
	    padding-top: 50px;
	}
	.ranges .ranges-item h3 {
	    font-family:  "Raleway",Helvetica,Arial,sans-serif !important;
	}
	.feature-area .col-xs-6 {
	    padding-bottom: 40px;
	}
}


//Board Page

.page-board{
	.ranges{
		margin-top: 15px!important;
	}
	.ranges-item {
		margin-top: 40px;
	    padding: 30px!important;
	    border: none!important;
	    h3 {
		    font-family:  "Raleway",Helvetica,Arial,sans-serif !important;
		}
	    p{
	    	text-align:justify;
	    }
	}

}