/********
  Hard Coded Pages (Fund)
*********/

.hard-coded{
	.yellow{
        color: $color_luceo_yellow !important;
    }
    .orange{
        color: $color_luceo_orange !important;
    }
    .gray{
        color: $color_luceo_grey !important;
    }
    .white{
        color: #ffffff !important;
    }
	.heading{
		text-align: center;
	    margin-bottom: 40px;
		h1 {
		    font-size: 60px;
		    font-family: "Raleway",Helvetica,Arial,sans-serif;
		    font-weight: 300;
		    line-height: 52px;
		}
		p {
		    max-width: 800px;
		    margin: 0 auto;
	        margin-top: 20px;
		}
	}
	.features{
		background-color: #fafafa;
        margin-top: 50px;
        margin-bottom: 50px;
        padding-top: 40px;
	    padding-bottom: 40px;
		.feature-area{
			max-width: 1170px;
		    margin: 0 auto;
		    //padding:50px 0;
		}
	    p {
		    text-align: justify;
		}

	}
	.invest-info{
		max-width: 1170px;
		margin: 0 auto;
		.sub-title{
			color: $color_luceo_orange;
			//text-transform: uppercase;
			font-family: "Raleway",Helvetica,Arial,sans-serif;
		    font-weight: 400;
			font-size: 20px;
		    padding-top: 20px;
		    margin-bottom: 50px;
			border-top: 1px solid $color_luceo_orange;
		}
		.invest-solution{
			width: 48%;
		}
		.solution{
			color: $color_luceo_orange;
			text-transform: uppercase;
			font-family: "Raleway",Helvetica,Arial,sans-serif;
		    font-weight: 400;
			font-size: 20px;
			padding-top: 20px;
		    margin-top: 0;
			border-top: 1px solid #bfbfbf;
		}
		ul {
		    padding: 0;
		    margin: 0;
		    list-style: none;

		    li {
			    border-bottom: 2px solid #cdcaca;
			    padding-bottom: 12px;
			    padding-top: 12px;
			    &:last-child {
				    border: none;
				    padding-bottom: 25px;
				}
			}
		}
		.info-chart{
			background-color: #fafafa;
			width: 48%;
		    float: right;
		    margin-right: 15px;
		    padding: 15px 25px;
		    h3{
		    	font-size: 20px;
			    font-family: "Raleway",Helvetica,Arial,sans-serif;
			    font-weight: 400;
			    margin-top: 30px;
		    }
		    a{
		    	color:$color_luceo_orange;
	    	    transition: all 200ms ease-out;
		    	&:hover{
		    		color:$color_luceo_yellow;
		    	}
		    }

		}
	}
	.fund-range{
		text-align: center;
	    background-color: #fafafa;
        margin-top: 70px;
        padding-bottom: 60px;
        .heading{
        	background-color: #fff;
        	min-width: 100%;
    	    padding-bottom: 20px;
        }
	    .heading-inner{
	    	max-width: 1170px;
		    margin: 0 auto;
	        float: none;
	    	h1{
				font-size: 55px;
			    font-family: "Raleway",Helvetica,Arial,sans-serif;
			    font-weight: 300;
			    line-height: 52px;
			    margin-top: 0;
			    padding-top: 20px;
				border-top: 1px solid $color_luceo_yellow;
			}
	    }
	    .ranges{
	    	max-width: 1170px;
		    margin: 0 auto;
		    div[class^="col"] { 
		    	//background-color:#FFFFFF;
		    }
		    .ranges-item {
			    background-color: #fff;
			    padding: 45px 40px;
			    border: 3px solid $color_luceo_yellow;
			    // h1{
				   //  font-size: 60px;
				   //  font-family: "Raleway",Helvetica,Arial,sans-serif;
				   //  font-weight: 300;
				   //  line-height: 52px;
			    //     margin-top: 10px;
				   //  .questrial{
				   //  	font-family: "Questrial",Arial,Helvetica,sans-serif;
				   //  }
			    // }
			    img{
			    	max-width: 245px;
				    width: 100%;
				    display: block;
				    padding: 0;
				    margin: 0 auto;
				    outline: none;
			    }
			    h3{
			    	font-size: 18px;
				    text-align: center;
			        font-family: "Montserrat",Helvetica,Arial,sans-serif;
				    font-weight: 400;
				    margin-top: 30px;
			    }
			    .buttons {
				    margin-top: 30px;
				}
				p{
				    font-size: 13px!important;
				    text-align: justify!important;
				}
			}
	    }
	}
}