body:not(.page-template-default){
    section{
        header, footer{
            display: none;
        }
    }
}
/********
  Home
*********/
body.page-template-page-home{
	.site-content{
		background-color:#F7F9FA!important;
	}
}
.slider-inner {
    background-color: #ffffff;
}
.messages {
    text-align: center;
    background-color: #006AA7;
    color: #ffffff;
    padding: 8px 0;
    p{
    	padding:0;
    	margin:0;
    }
    a {
	    color: #ffffff;
	}
}
.boxes {
	&> div{
		padding:0;
	}
}
.box-link{
	background-color: #ffffff !important;
	transition: background-color ease 500ms;
	.box-icon{
		div{
			font-size: 4em;
			color:#236fb6!important;
			transition: color ease 500ms;
		}
	}
	.box-text{
		h3, hr{
		   color: #222;
		   margin-top: 15px;
		   transition: color ease 500ms;
		}
		hr{
		   width: 60%;
		}
	}
	p {
	    padding: 0;
	    margin: 0;
	}
	.box-link-holder {
	    position: absolute;
	    height: 100%;
	    width: 100%;
	    top: 0;
	    color: transparent!important;
	}
	&:hover{
		background-color: #006AA7!important;
		.box-icon{
			div{
			 color: #ffffff!important;
			}
		}
		.box-text{
			h3, hr{
			   color: #fff;
			}
		}
	}
}
.box-holder {
    padding: 40px;
    text-align: center;
}

.block-link{
	margin-top: 80px;
    border-top: 3px solid #006AA7;
    border-bottom: 3px solid #006AA7;
    background-color: #ffffff;

	&> div > div {
		padding:0;
	}
	.block-img{
		height: 275px;
	    background-color: #fafafa;
	    background-position: center center;
	    background-size: cover;
	    background-repeat: no-repeat;
	    background-attachment: scroll;
	    position: relative;
		&.shareholder-img{
			background-image: url("http://www.lighthousegroup.plc.uk/wp-content/uploads/2015/12/shutterstock_334043420-480x480.jpg");
		}
		&.adviser-img{
			background-image: url("http://www.lighthousegroup.plc.uk/wp-content/uploads/2016/01/s9-2-480x340.jpg");
		}
		&.enrolment-img{
			background-image: url("http://www.lighthousegroup.plc.uk/wp-content/uploads/2015/12/blog14-480x480.jpg");
		}

		.block-holder {
		    position: absolute;
		    display: table;
		    top: 0;
		    left: 0;
		    width: 100%;
		    height: 100%;
		    z-index: 99;
		    opacity: 1;
		    filter: alpha(opacity=100);
		}
		.block-holder-link {
		    position: absolute;
		    display: table;
		    top: 0;
		    left: 0;
		    width: 100%;
		    height: 100%;
		    z-index: 99;
		    opacity: 0;
		    filter: alpha(opacity=0);
		}
		.block-inner {
		    display: table-cell;
		    vertical-align: middle;
		    z-index: 5;
		    .block-text {
			    margin: 0!important;
			    text-align: center;
			    h3{
			    	color: #ffffff;
		    	    font-weight: 600;
	    	        margin: 0;
			    }
			}
		}
		.block-overlay {
		    position: absolute;
		    display: block;
		    top: 0;
		    left: 0;
		    width: 100%;
		    height: 100%;
		    background-color: #000;
		    opacity: .2;
		    z-index: 55;
		    filter: alpha(opacity=20);
		    transition: opacity ease 300ms;
		}
		&:hover{
			.block-holder{
				opacity: 0;
				filter: alpha(opacity=0);

			}
			.block-holder-link{
				opacity: 1;
				filter: alpha(opacity=100);

			}
			.block-text a {
			    display: inline-block;
			    margin-bottom: 0;
			    text-align: center;
			    vertical-align: middle;
			    cursor: pointer;
			    transition: border-color ease 300ms,background ease 300ms;
			    font-size: 1em;
			    padding: 10px 30px;
			    line-height: 1.428571429;
			    background: 0 0;
			    font-weight: 600;
			    text-transform: uppercase;
			    user-select: none;
			    border-radius: 30px;
			    color: #fff;
			    border: 2px solid #fff;
			    &:hover {
				    background-color: #fff;
				    color: #222;
				    border-color: #fff;
				}
			}
			.block-overlay{
				opacity: .4;
				filter: alpha(opacity=40);
			}

		}
	}
	.member-logo h4 {
	    text-align: center;
	    padding-bottom: 2.285em;
	}

}

.get-touch {
    background-color: #006AA7;
    text-align: center;
    padding: 3.428em 0 4em;
    h1 {
	    color: #ffffff;
	    margin-bottom: 1.14586em;
	}
	a{
		background-color: #ffffff ;
	    color: #222;
	    padding-top: 0.937em;
	    padding-bottom: .937em;
	    font-size: 1.062em;
	    border-radius: 50px;
	    transition: color ease 500ms;
	    &:hover{
	    	color: #006AA7;
	    }
	    span{
	    	padding-left: 30px ;
		    padding-right: 30px;
		    font-family: Montserrat ;
	    }
	}
}
.about-link{
	background-color: #1C7AAB;
	.block-overlay {
	    position: absolute;
	    display: block;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    background-color: #000;
	    filter: alpha(opacity=20);
	    opacity: .2;
	    z-index: 22;
	    transition: opacity ease 300ms;
	}
	.about-advice {
		&:hover{
			.block-overlay {
				filter: alpha(opacity=50);
			    opacity: .5;
			}
		} 
	}
	.about-lighthouse {
	    background-image: url("http://www.lighthousegroup.plc.uk/wp-content/uploads/2015/12/contact.jpg");
	    background-position: center ;
	    background-repeat: no-repeat ;
	    background-size: cover ;
	    &:hover{
			.block-overlay {
				filter: alpha(opacity=50);
			    opacity: .5;
			}
		}
	}
	.about-block {
	    padding: 7em 3em 10em;
	    position: relative;
	    z-index: 33;
	    h1, p {
	    	color: #ffffff;
	    }
	    a{
			background-color: transparent;
		    color: #ffffff;
		    padding-top: .937em;
		    padding-bottom: .937em;
		    font-size: 1.062em;
		    border-radius: 50px;
	        border: 2px solid #ffffff;
		    transition: color ease 500ms, background-color ease 500ms;
		    &:hover{
		    	color: #000;
		    	background-color:#ffffff;
		    }
		    span{
		    	padding-left: 30px ;
			    padding-right: 30px;
			    font-family: Montserrat ;
		    }
		}
	}
}

.recent-posts{
	margin-bottom: 50px;
}



/********
  Advice
*********/
.banner{
    background-image: url("http://www.lighthousegroup.plc.uk/wp-content/uploads/2016/01/shutterstock_129517946-copy.1.jpg");
    background-position: 50% -151px;
    border-bottom: 3px solid #006AA7;
    .content-inner{
		padding: 60px 0;
	    animation: wpb_appear 0.7s 1 cubic-bezier(0.175, 0.885, 0.32, 1.275);
	    transform: scale(1);
	    opacity: 1;
	    filter: alpha(opacity=100);
	}
	.content-wrapper {
	    text-align: center;
	    h1,h2,p{
	    	color: #ffffff;
	    }
	    h1{
	    	font-size: 3.928em;
	    }
	    h2{
	    	font-size: 3.2em;
	    }
	    p{
	    	font-size: 1.357em;
	    }
	}
}

.content-img{

}
.content-text{
	h3, p{
		text-align: justify;
		margin: 20px 0;
	}
	h3{
		line-height: 1.4;
	}

}
.email-info{
	margin-top: 50px;
    background-image: url("http://www.lighthousegroup.plc.uk/wp-content/uploads/2016/01/shutterstock_129517946-copy.1.jpg");
    background-position: 50% -151px;
    h2 {
	    text-align: center;
	    color: #fff;
	    font-weight: 600;
	}
}

.info-inner {
    padding-top: 85px;
    padding-bottom: 85px;
}

.content-buttons {
    text-align: center;
    .btn-inline {
	    display: inline-block;
	    position: relative;
	    .ivan-button{
			display: inline-block;
		    margin-bottom: 3px;
		    vertical-align: middle;
		    overflow: hidden;
		    text-align: center;
		    position: relative;
		    transition: border-color ease 500ms,background ease 500ms,color ease 500ms;
		    font-size: 1.14286em;
		    font-weight: 600;
		    line-height: 1.428571429;
		    padding: 0.75em 0;
		    &:hover{
		    	background-color: rgba(0,0,0,.4);
		    }
		}
	    a{
			color: #fff;
			border-radius: 5px;
			border-width: 1px;
		    border-color: #fff;
		    background-color: rgba(0,0,0,.2);
	    }
	    &:first-child a {
		    border-top-right-radius: 0!important;
		    border-bottom-right-radius: 0!important;
		}
		&:last-child {
			margin-left: -3px;
			a {
			    border-top-left-radius: 0!important;
	    		border-bottom-left-radius: 0!important;
	    		border-left-width: 0;
			}

		}
	}
}
.sp-text{
	border-width: 1px;
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%,-50%);
    height: 26px;
    width: 26px;
    line-height: 1;
    text-align: center;
    background: #fff;
    color: #7f7f7f;
    box-sizing: content-box;
    border-radius: 100%;
    font-size: 11px;
    border: 2px solid #7f7f7f;
    font-weight: 400;
    z-index: 12;
    transition: border-color ease 500ms,background ease 500ms,color ease 500ms;
	.sp-inner{
		position: absolute;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%,-50%);
	    line-height: .914em;
	}
}