/********
  Home
*********/
.home-page-bg {
    background: url('../../../uploads/2016/07/luceo_bg.jpg') no-repeat;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: 50% 50%;
    // background-attachment: fixed;
    height:100vh;
    overflow:hidden!important;
}

body.page-template-page-home{
	overflow:hidden!important;
	background: transparent !important;
	header#masthead {
    background: transparent !important;
	}
	.site-content{
		background-color:transparent !important;
		.home-page-content {
		    text-transform: uppercase;
		    text-align: right;
		    float: right;
		    .main-text{
		    	font-family: Raleway;
			    color: $color_luceo_yellow;
			    float: right;
			    font-size: 4.2em;
			    line-height: 1.2em;
		    }
		    .sub-text{
	    	    font-family: Raleway;
		    	color: $color_luceo_grey;
		    	float: right;
		    	clear: both;
		    	margin-top: 10px;
		    	max-width:50%;
		    	font-size: 1.6em;
			    line-height: 1.2em;
		    }
			.home-btn{
				// width: 170px;
			    float: left;
			    clear: both;
			    margin-top: 20px;
			    a{
					font-family: Raleway;
					padding: 10px 15px;
					font-size: 14px;
					background: $color_luceo_grey;
					color: #FFFFFF;
					&:hover{
						background: $color_luceo_orange;
						color: #FFFFFF;
					}
			    }
			}
		}
	}
	footer{
		display: none!important;
	}
}

/***********
  Philosophy
************/

.child-page-menu {
	li {
	    margin-bottom: 2px;
		a {
		    font-size: 12px;
		    transition: all 200ms ease-out;
		    display: block;
		    background: #eee;
		    color: #999;
		    font-family: "Montserrat",Helvetica,Arial,sans-serif;
		    border-radius: 0;
		    padding: 12px 15px;
		    &:hover {
			    background-color:$color_luceo_yellow; // $color_luceo_orange;
			    color: #FFFFFF;
			}
		}
		&.current_page_item a{
			background-color:$color_luceo_yellow; // $color_luceo_orange;
		    color: #FFFFFF;
		}
	}
}


@media (max-width: 1210px){
	.home-page-content .sub-text {
	    max-width: 55%!important;
	}
}

@media (max-width: 1025px){
	.home-page-bg {
	    background-position: 30% 50%!important;
	}
	.home-page-content .sub-text {
	    max-width: 64%!important;
	}
}

@media (max-width: 850px){
	.home-page-bg {
	    background-position: 25% 50%!important;
	}
	.home-page-content {
		.main-text {
		    font-size: 3.5em!important;
		    line-height: 1em!important;
		}
		.sub-text {
			font-size: 1.2em!important;
		    max-width: 55%!important;
		}
	}
}
@media (max-width: 768px){
	.home-page-content {
		margin-top: 20px!important;
	}
}
@media (max-width: 700px){
	.home-page-content {
		.main-text {
		    font-size: 3em!important;
		    line-height: 1em!important;
		}
		.sub-text {
		    margin-top: 5px!important;
		    font-size: 1.1em!important;
		    line-height: 1.3em!important;
		}
	}
}

@media (max-width: 650px){
	.home-page-content {
	    margin-top: 30px !important;
		.main-text {
		    font-size: 2.5em!important;
		    line-height: 1em!important;
		}
		.sub-text {
		    font-size: 1.1em!important;
		    line-height: 1.3em!important;
		}
	}
}

@media (max-width: 550px){
	.home-page-content {
		.sub-text {
		    font-size: 0.9em!important;
		    max-width: 60%!important;
		}
	}
}
@media (max-width: 350px){
	.home-page-content .main-text {
	    font-size: 1.7em !important;
	}
}