/*--------------------------------------------------------------
## Hard-coded
--------------------------------------------------------------*/
@import "_hard-coded";
/*--------------------------------------------------------------
## pages
--------------------------------------------------------------*/
@import "pages";
/*------------------------------------------------------------*/

@media (max-width: 1210px){
	.home-page-content .sub-text {
	    max-width: 55%!important;
	}
}

@media (max-width: 1025px){
	.home-page-bg {
	    background-position: 30% 50%!important;
	}
	.home-page-content .sub-text {
	    max-width: 64%!important;
	}
}


@media (max-width: 991px){
	.hard-coded .sections {
	    margin-top: 40px;
	}
	.home-page-content {
		p.risk-info {
			bottom: 7%;
		}
	}

}

@media (max-width: 970px){
	.hard-coded .heading h1 {
	    font-size: 55px;
	}
}

@media (min-width: 768px) and (max-width: 970px){
	.hard-coded .fund-range .ranges .ranges-item {
	    padding: 35px 30px;
		h3, .buttons a {
		    font-size: 14px;
		}
	}
}

@media (max-width: 850px){
	.home-page-bg {
	    background-position: 25% 50%!important;
	}
	.home-page-content {
		.main-text {
		    font-size: 3.5em!important;
		    line-height: 1em!important;
		}
		.sub-text {
			font-size: 1.2em!important;
		    max-width: 55%!important;
		}
		p.risk-info {
			bottom: 10%;
		}
	}

	.page-advice {
		.fund-range {
			.the-risk{
				.col-xs-6{
				    width: 50%!important;
				    img{
				    	width: 100%;
			    	    margin-bottom: 35px;
				    }
				}
			}

		}
	}
}
@media (max-width: 767px){
	.home-page-content {
		margin-top: 20px!important;
		.home-btn a {
	    font-size: 11px!important;;
		}
		p.risk-info {
		    right: 20px;
		    font-size: 13px;
		    padding-left:20px;
		    bottom:11%;
		}
	}

	.hard-coded .invest-info {
		.info-chart, .invest-solution, .one-solution {
		    width: inherit;
		    width: auto;
		    width: initial;
		    margin-right: inherit;
		}
	}
	.hard-coded {
		margin-top: 35px;
		.invest-info, .features, .heading, .fund-range{
			margin-right: inherit;
			margin-left: inherit;
		} 
	}
	.hard-coded .features .feature-area {
	    //padding: 35px 0;
	}

	.page-advice {
		.feature-area>div {
		    margin-bottom: 0!important;
		}
		.invest-info{
			.invest-solution {
			    margin-left: inherit;
			    padding: 15px;
			}
			.info-chart {
			    padding: 15px;
			    
			}
		}
		.fund-range {
			.the-risk{
				.col-xs-6{
				    width: 100%!important;
				}
			}

		}
	}

	.feature-area > div {
	    margin-bottom: 35px;
	}
	.ranges > div {
	    margin-bottom: 30px;
	}
}
@media (max-width: 700px){
	.home-page-content {
		.main-text {
		    font-size: 3em!important;
		    line-height: 1em!important;
		}
		.sub-text {
		    margin-top: 5px!important;
		    font-size: 1.1em!important;
		    line-height: 1.3em!important;
		}
	}
	.hard-coded .features {
	    margin-bottom: 20px;
	}
}

@media (max-width: 650px){
	.home-page-content {
	    margin-top: 30px !important;
		.main-text {
		    font-size: 2.5em!important;
		    line-height: 1em!important;
		}
		.sub-text {
		    font-size: 1.1em!important;
		    line-height: 1.3em!important;
		}
		 p.risk-info {
		    font-size: 12px;
		}
	}
}
@media (max-width: 630px){
	.hard-coded .heading h1 {
	    font-size: 45px;
	    line-height: 35px;
	}
    .hard-coded .features .feature-area {
	    //padding: 20px 0;
	}
	.hard-coded .fund-range .heading-inner h1 {
	    font-size: 45px;
	    line-height: 40px;
	}
	.page-about .img-intro h4 {
	    font-size: 12px;
	}
}

@media (max-width: 550px){
	.home-page-content {
		.sub-text {
		    font-size: 0.9em!important;
		    max-width: 60%!important;
		}
		 p.risk-info {
		    font-size: 11px;
		}
	}



	.hard-coded .fund-range .ranges .ranges-item h3 {
	    font-size: 14px;
	}
	.hard-coded .fund-range .ranges .ranges-item h3 {
	    font-size: 14px;
	}
	.hard-coded .fund-range .ranges .ranges-item .buttons a{
		font-size: 14px;

	}
	.hard-coded .heading h1 {
	    font-size: 36px;
	    line-height: 53px;
	    margin-top: 0;
	    margin-bottom: 0;
	}
}


@media (max-width: 450px){
	.page-committee .ranges>div,
	.page-board .ranges>div {
	    clear: both;
	    width: 100%;
	}
	.page-advice .invest-info .invest-solution h3,
	.page-advice .fund-range .the-risk h3 {
	    text-align: left;
	    font-size: 16px;
	}

	.page-advice .fund-range .the-risk h3:last-child{
		text-align: center;
	}
}

@media (max-width: 430px){
	.hard-coded .heading h1 {
	    font-size: 25px;
	    line-height: 38px;
	} 
	.feature-area h3 {
	    font-size: 14px;
	}
	.hard-coded .invest-info .sub-title {
	    font-size: 14px;
	    margin-bottom: 40px;
	    line-height: 22px;
	}
	.hard-coded .invest-info .solution {
	    font-size: 16px;
	}
	.invest-solution > div.row > div.col-xs-6, 
	.one-solution > div.row > div.col-xs-6,
	.img-intro-inner > div.col-xs-6{
	    width: 100%;
	}
	.hard-coded .invest-info .info-chart h3 {
	    font-size: 16px;
	}
	.hard-coded .fund-range .heading-inner h1 {
	    font-size: 40px;
	    line-height: 40px;
	}
	.hard-coded .fund-range .ranges .ranges-item {
	    padding: 35px 20px;
	}
}
@media (max-width: 350px){
	.home-page-content {
		.main-text {
		    font-size: 1.7em !important;
		}
	}
}