.post-slider {
    margin-bottom: 40px;
    #related-posts {
    	h2{
	    font-size: 1.714em;
    	margin: 35px 0 20px 15px;
		}
		.fa-clock-o {
			    color: #7f7f7f;
			}
		h3{
			font-size: 1.14286em;
		    line-height: 1.3;
		    font-weight: 400;
	        margin: 1em 0 0.5em;
		    a{
		    	color: #222;
		    }
		}
		.date {
		    font-size: 1em;
		}
		.entry-content {
	    margin-top: 10px;
		}
    }
    #recent-posts{
    	.entry {
		    background-color: #ffffff;
		    padding: 20px;
		    h3{
		    font-size: 1.428em;
		    line-height: 1.3;
		    font-weight: 400;
		    margin: 0 0 5px;
		    	a{
			    	color: #222;
			    }
			}
			.date{

			}
			.fa-clock-o {
			    color: #7f7f7f;
			}
			.entry-content {
		    margin-top: 10px;
		    font-size: 1em;
			}
			.read-more {
				margin: 13px 0 0;
				.read-more-btn {
				    font-family: "Raleway", "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
				    font-size: 0.857em;
				    line-height: 1.14286em;
				    font-weight: 600;
				    letter-spacing: 0.3px;
				    text-transform: uppercase;
			    	color: #ffffff;
				    background-color: #1C7AAB ;
				    border-color: #1C7AAB ;
			        border-radius: 0;
				    padding: 13px 21px;
				    position: relative;
				    &:hover {
						background-color: #e6e6e6!important;
					    color: #4c4c4c;
					    border-color: #e6e6e6!important;
					}
				}
			}
		}
    }
}

.thumbnail-hover {
		position: relative;
		border: 0;
		border-radius: 0;
		padding: 0;
		margin: 0;
		&:hover {
			.overlay {
				opacity: 0.4;
			}
			.thumb-cross {
				opacity: 1;
			}
		}
		.overlay {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: #236fb6;
			opacity: 0;
			transition: opacity 500ms ease-in-out;
		}
}


.entry {
    background-color: #ffffff;
}

.disclaimer-box{
	border: 1px solid transparent;
    display: block;
    margin: 30px 0;
    padding: 1.14286em 1.14286em 1.14286em 4.571em;
    position: relative;
    font-size: 1em;
    box-sizing: border-box;
	color: #999999;
    border:2px solid #1C7AAB;
    background-color: transparent;
    .disclaimer-icon{
    	color: #999999;
    	bottom: 0;
	    font-size: 1.14286em;
	    font-style: normal;
	    font-weight: normal;
	    left: 0;
	    position: absolute;
	    top: 0;
	    width: 4em;
	    i{
    		line-height: 1;
		    left: 50%;
		    position: absolute;
		    top: 50%;
		    transform: translate(-50%, -50%);
	    }
    }
    p{
    	&:last-child {
    		margin-bottom: 0;
		}
    }
}

/* Pagination */
.pagination {
    clear:both;
    position:relative;
    margin: 15px 0 40px;
    font-size: 1em;
    line-height: 1;
    float:right;
    span, a{
	    display:block;
	    float:left;
	    margin-left: 3px;
	    padding:15px 20px;
	    text-decoration:none;
	    width:auto;
	    color: #4c4c4c;
	    background-color: #e6e6e6;
	    transition: color .15s ease-in-out, background-color .15s ease-in-out;
    }
    .current, a:hover{
	    color:#fff;
	    background-color: #1C7AAB;
	}
}
//Read More
.morecontent span {
	display: none;
}