a {
	color: $color__link;

	// &:visited {
	// 	color: $color__link-visited;
	// }
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	text-decoration:none!important;
	&:focus {
		outline: none;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}