.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;

	#header-menu-id{
		> li {
		 display: inline-block;
		 }
	}

	li {
		position: relative;
		&:hover > a,
		&.focus > a {
    		opacity: 0.7;
		}
	}

	a {
		display: block;
		text-decoration: none;
        font-size: 14px;
        font-weight: 700;
        color: #333;
	}
	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;
		text-align: center;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;
			background-color: #fff;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				float: left;
				text-align: left;
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
				padding: 13px 20px;
        		margin: 0;
        		text-transform: uppercase;
			    font-size: 11px;
			    font-weight: 500;
			    border-bottom: 1px solid #f2f2f2;
			}

			:hover > a,
			.focus > a {
				color: #006aa7;
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
		.menu-item-has-children > a:after{
			content: "\f107";
		    display: inline-block;
		    font-family: FontAwesome;
		    font-style: normal;
		    font-weight: normal;
		    line-height: 1;
		    -webkit-font-smoothing: antialiased;
		    -moz-osx-font-smoothing: grayscale;
		    margin-left: 7px;
		    color: #a7a7a7;
		}
		a {
        padding: 15px 24px;
        margin-bottom: 15px;
		}
	}
	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Left & Right Menus */
#menu-right {
    margin-top: 30px;
}

/* Logo */
.header-center-area{
	height: 90px;
    line-height: 90px;
    vertical-align: middle;
		img {
	    max-width: 320px;
	    width: 100%;
	    position: absolute;
	    margin: auto;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    -ms-interpolation-mode: bicubic;
		}
}

/* Small menu. */
button {
	&#mm-menu-toggle{
		border:none;
		outline: none;
		box-shadow:none;
		background-color: transparent!important;
		&:hover, &:active, &:focus{
			background-color: transparent!important;
		}
	}
}
#mm-menu{
	.mm-menu__header {
	  background-color: #006AA7!important;
	}
	#header-menu-left-id {
    margin-top: 15px;
	}
	#header-menu-id {
    padding-left: 15px;
	}
	ul{
		list-style: none;
	    margin: 0;
	    padding: 0;
	    ul{
		    padding-left: 15px;
		}
	}
	a{
		color: #333;
	    text-decoration: none;
	    &:hover,&:active{
	    	color: #2980b9;
	    }
	    &:focus{
	    	outline: none;
	    }
	}

}
/*Search*/

/*search*/
.iv-module.live-search {
    float: right;
    z-index: 999999;
    margin-top: -50px;
    display: none;
    height: 100%;
    margin-left: 30px;
    position: relative;
}
.display-table{
	display:table!important;
}
.centered {
    display: table-cell !important;
    vertical-align: middle !important;
}
a.trigger {
    font-size: 16px;
    color: #3d3d3d;
}
i.fa.fa-search {
    display: block;
}
.live-search .inner-wrapper {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    right: -30px;
    top: 50px;
    width: 285px;
    border: 1px solid #e7e7e7;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;

    .container{
    	width: 100%;
    	.row {
    position: relative;
}
    }

    .inner-form label {
    display: none;
}
}
.live-search .inner-wrapper.visible {
    visibility: visible;
    opacity: 1;
}
.inner-wrapper{
    label {
    display: none;
}
a.submit-form {
    color: #ffffff;
    border: none;
    width: 35px;
    height: 35px;
    line-height: 35px;
    top: 0;
    right: 0;

        display: block;
    text-align: center;
    position: absolute;

    i.fa.fa-search {
    padding: 10px;
	}
}
}
span.form-close-btn.thin {
    display: none;
    position: absolute;
    top: 50%;
    right: 15px;
    margin-right: 15px;
    z-index: 99999;
    cursor: pointer;
    font-size: 1.2em;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
span.form-close-btn.bold {
    display: none;
    position: absolute;
    top: 50%;
    right: 15px;
    margin-right: 15px;
    z-index: 99999;
    cursor: pointer;
    font-size: 1.2em;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.inner-form {
    background: #ffffff;
    padding: 20px;
    color: #ffffff;
    z-index: 20000;
    position: relative;

    &:before {
    content: "";
    position: absolute;
    border-style: solid;
    border-color: #e7e7e7 transparent;
    /* background-color: transparent; */
    display: block;
    width: 0;
    top: -15px;
    bottom: auto;
    right: 30px;
    border-width: 0 15px 15px;
}
    a:hover {
    color: #1e82b6;
}
}
.live-search .submit-form {
    background-color: #23495e;

}
.live-search input[type="search"] {
    width:100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    padding: 11px 15px;
    font-size: 12px;
    line-height: 1.84;
    float: left;
    border-radius: 0;
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #3f3f3f;
    padding-right: 50px;
    padding-top: 0;
    padding-bottom: 0;
    height: 35px;
    border: 1px solid #e7e7e7;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    outline: 0;
}

 @media (max-width: 1650px) {
    .main-navigation ul a {
	    padding: 15px 22px;
	}
 }

 @media (max-width: 1320px) {
    .main-navigation ul a {
	    padding: 15px 16px;
	}
 }
  @media (max-width: 1200px) {
    .main-navigation ul a {
	    padding: 15px 12px;
	}
 }
  @media (max-width: 1100px) {
    .main-navigation ul a {
	    padding: 15px 8px;
	}
 }
   @media (max-width: 1050px) {
    .main-navigation ul a {
	    padding: 15px 5px;
	}
 }
 @media (min-width: $screen-sm-max) {
    #mm-menu-toggle{
    	display: none;
    }
 }
 @media (min-width: $screen-md-min) {
    .header-center-area{
    	.iv-module.live-search{
    	display: none!important;
    	}
    }
 }
 @media (max-width: $screen-sm-max) {
    .iv-module.live-search {
    	margin-top: -4px;
	    .inner-wrapper {
		    top: 100%;
		    }
	}
	.header-center-area {
	    height: 70px;
	    line-height: 70px;
	 //    img {
		//     max-width: 200px;
		// }
	}
  }
@media (min-width: $screen-xs-max) {
	 .mm-menu-toggle {
	    position: fixed;
	    top: 65px;
	    left: 30px;
		}
}
@media (max-width: $screen-xs-max) {
	header{

    .container {
	    width: 100%;
	    padding-left: 15px;
    	padding-right: 15px;
		}
		.social-links {
		    .icon .fa {
			    padding: 8px 6px 5px;
			}
		}
	}
    .header-center-area{
    	height: 65px;
    	img{
    		max-width: 200px;
    		line-height: 65px;
    	}
    }
    .iv-module.live-search {
    	margin-top: 0;
	    .inner-wrapper {
		    top: 100%;
		    }
	}
	.display-table {
    display: none !important;
	}	
  }