header#masthead{
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #E6E6E6;
    &.panel-top{
        position: relative;
    }
    &.panel-fixed {
        z-index: 3;
        position: fixed;
        width: 100%;
        top: 0px;
        left: 0px;
        margin: 0 !important;
        border-bottom: 1px solid #e6e6e6;
        opacity: 1;
    }
}

header{
    .container {
        width: auto;
        padding-left: 2.5%;
        padding-right: 2.5%;
        }
        .social-links {
            border-bottom: 1px solid #E6E6E6;
            padding-top: 5px;
            a {
                font-size: 16px;
                &.link{
                    height: 20px;
                    width: 20px;
                    margin: 7px 3px 0;
                    float: left;
                    display: block;
                    background-image: url('../images/social-icons.jpg');
                    background-repeat: no-repeat;
                    background-size: 120px 20px;
                }
                &.link-twitter{
                    background-position: -60px 0;
                    &:hover .fa{
                    color:#00abf0
                    }
                }
                &.link-facebook{
                    background-position: -40px 0;
                    &:hover .fa{
                    color:#4b6cb2;
                    }
                }
                &.link-google-plus{
                    background-position: -20px 0;
                    &:hover .fa{
                    color:#dc4b3f
                    }
                }
                &.link-linkedin{
                    background-position: 0 0;
                    &:hover .fa{
                    color:#0077b5
                    }
                }
                &.link-youtube{
                    background-position: -120px 0;
                    &:hover .fa{
                    color:#df192a
                    }
                }
                &.live-feed {
                    color: #333;
                    margin-left: 10px;
                    span {
                        display: inline-block;
                        margin-top: 5px;
                    }
                }
            }
        }
        .top-search{
            form {
                float: right;
                input[type="search"]{
                    border: none;
                    font-family: "Raleway", Arial, Helvetica, sans-serif;
                    font-weight: 300;
                    text-transform: lowercase;
                    font-size: 14px;
                    padding: 0;
                    transition: width 0.4s;
                    width: 100px;
                    &:focus {
                    transition: width 0.4s (0,1.22,.66,1.39);
                    width: 250px;
                    }
                }
                button{
                    background: transparent!important;
                    border: none!important;
                    outline: none!important;
                    padding-top: .8em;
                    &:hover,&:focus,&:active{
                        background: transparent!important;
                        border: none!important;
                        outline: none!important;
                    }
                    i.fa.fa-search {
                        font-size: 14px;
                        color: #000;
                    }
                }
            }
        }
}
span.share-price-at-top {
    font-size: 13px;
    margin-top: 8px!important;
    cursor: default;
}
.font-adjustment {
    float: right;
    button{
        font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 15px;
        font-weight: 400;
        text-transform: uppercase;
        color: #4c4c4c;
        background-color: #FFF;
        border: none;
        outline: none;
        padding: 10px;
        float: left;
        margin: 0;
        position: relative;
        transition: background 350ms ease-in-out;
        &:hover{
            background-color: #e6e6e6 !important;
        }
    }
}
@media (max-width: 991px){
    header{
        .social-links {
            .link{
                float: right!important;
            }
        }
    }
}