
// Buttons

.buttons{
    margin-top: 3px;

    a{
        transition: all 200ms ease-out;
        display: block;
        font-family: "Montserrat",Helvetica,Arial,sans-serif;
        border-radius: 0;
        padding: 12px 15px;
    }
    &.small a{
        font-size: 12px;
    }
    &.medium a{
        font-size: 16px;
    }
    &.large a{
        font-size: 20px;
    }
    &.yellow a{
        background: $color_luceo_yellow;
        color: #fff;
        &:hover{
            background: $color_luceo_orange;
            color: #fff;
        }
    }
    &.orange a{
        background: $color_luceo_orange;
        color: #fff;
        &:hover{
            background: $color_luceo_yellow;
            color: #fff;
        }
    }
    &.gray a{
        background: #eee;
        color: #999;
        &:hover{
            background: $color_luceo_orange;
            color: #fff;
        }
    }
    &.uppercase a{
        text-transform: uppercase;
    }
    &.lowercase a{
        text-transform: lowercase
    }
    &.capitalize a{
        text-transform: capitalize;
    }
    &.light a{
        font-weight: 400;
    }
    &.bold a{
        font-weight: bold;
    }
    &.questrial{
        font-family: "Questrial",Arial,Helvetica,sans-serif;
    }
    &.raleway{
        font-family: "Raleway",Helvetica,Arial,sans-serif;
    }
    &.montserrat{
        font-family: "Montserrat",Helvetica,Arial,sans-serif;
    }
}

// Text contents

// h1,h2,h3,h4,h5,h6, 
.contents{
    word-wrap: break-word;
    &.yellow{
        color: $color_luceo_yellow !important;
    }
    &.orange{
        color: $color_luceo_orange !important;
    }
    &.gray{
        color: $color_luceo_grey !important;
    }
    &.white{
        color: #ffffff !important;
    }
    &.uppercase{
        text-transform: uppercase;
    }
    &.lowercase{
        text-transform: lowercase
    }
    &.capitalize{
        text-transform: capitalize;
    }
    &.light{
        font-weight: 400;
    }
    &.bold{
        font-weight: bold;
    }
    &.inline{
        display: inline;
    }
    &.questrial{
        font-family: "Questrial",Arial,Helvetica,sans-serif;
    }
    &.raleway{
        font-family: "Raleway",Helvetica,Arial,sans-serif;
    }
    &.montserrat{
        font-family: "Montserrat",Helvetica,Arial,sans-serif;
    }
}

//SVG Buttons
.svg-button{
  position:relative;
  text-align: center;
  width: 220px;
  height: 220px;
}
.svg-inner{
  position: absolute;
  width: 220px;
  height: 220px;
  line-height: 220px;
}
.svg-inner a{
  position: absolute;
  height:100%;
  width:100%;
  top: 0;
  left: 0;
}

.svg-text{
  display: inline-block;
  vertical-align: middle;
  line-height: 5px;
}
#svg-crl path{
    fill:#d3d3d3;
}
.svg-button:hover #svg-crl path {
    fill:#FFCC32;
  }